/*******************************************************
 * Vars and Settings
 */
:root {
  --font__color: #012030;
  --accent: #13678A;
  --accent--light: #45C4B0;
  --accent--lighter: #9AEBA3;
  --border__color: #45C4B0;
  --accent--light--text: #089580;
  --page__padding-inline: 1rem;
  --header__marginBottom: 3rem;
  --resume-wrapper__padding-inline: 1rem;
}
@media (min-width: 44em) {
  :root {
    --page__padding-inline: 1.25rem;
    --header__marginBottom: 3rem;
    --resume-wrapper__padding-inline: 1.5rem;
  }
}

/*******************************************************
 * Base styles
 */
* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: var(--font__color, #012030);
}

body {
  overflow-x: hidden;
  padding:0;
  font-size: 1em;
  background: var(--font__color);
}
@media (min-width: 48em) {
  body {
    font-size: 1.25em;
  }
}
@media (min-width: 44em) {
  body {
    font-size: 1.25em;
  }
}

:focus {
  outline: 3px dotted var(--accent, #87d8f0);
}

::-moz-selection {
  text-shadow: none;
  background: var(--accent--lighter, #87d8f0);
}

::selection {
  text-shadow: none;
  background: var(--accent--lighter, #87d8f0);
}

a {
  color: var(--accent, #1e7c99);
  text-decoration: none;
}

a:hover,
a:focus {
  box-shadow: inset 0 -1px 0 0 var(--accent--light);
}

abbr[title] {
  border-bottom: 1px dotted var(--accent, #1e7c99);
  text-decoration: none;
}

/**
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*******************************************************
 * Resume styles
 */
.resume-wrapper,
.resume-wrapper__header {
  max-width: 80rem;
}

.resume-wrapper {
  margin: 0 auto;
  padding: 0 var(--resume-wrapper__padding-inline) 3.5em;
  background: #fff;
}
@media (min-width: 75em) {
  .resume-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.resume-wrapper {
  align-items: start;
}

/****************************
 * Resume header
 */
.resume-wrapper__header {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1 / -1;
  align-items: center;
  padding: 0 var(--page__padding-inline);
  border-bottom: 1px solid var(--border__color);
  background-color: #fff;
}
@media (min-width: 35em) {
  .resume-wrapper__header {
    grid-template-columns: minmax(0, 1fr);
    row-gap: 1em;
  }
}
@media (min-width: 44em) {
  .resume-wrapper__header {
    display: grid;
    grid-template-rows: 1fr -webkit-min-content -webkit-min-content;
    grid-template-rows: 1fr min-content min-content;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    row-gap: 0;
  }
}
@media (min-width: 57em) {
  .resume-wrapper__header {
    display: grid;
    grid-template-rows: 1fr -webkit-min-content;
    grid-template-rows: 1fr min-content;
    grid-template-columns: -webkit-min-content 1fr 1fr;
    grid-template-columns: min-content 1fr 1fr;
    grid-column: 1 / -1;
    align-items: baseline;
    padding: 0 var(--page__padding-inline);
  }
}

.resume-wrapper__header.is-sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  padding: 0 var(--resume-wrapper__padding-inline);
}
@media (min-width: 80em) {
  .resume-wrapper__header.is-sticky {
    left: calc(
      (100vw - var(--scrollBarWidth) - 80rem) / 2
    );
  }
}

.wordmark,
.resume-wrapper__header:before {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}
@media (min-width: 44em) {
  .wordmark,
  .resume-wrapper__header:before {
    grid-row: 1 / span 3;
  }
}

.resume-wrapper__header:before,
.resume-wrapper__header:after {
  grid-column: 1;
}
@media (min-width: 35em) {
  .resume-wrapper__header:before,
  .resume-wrapper__header:after {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }
}
@media (min-width: 44em) {
  .resume-wrapper__header:before,
  .resume-wrapper__header:after {
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
  }
}
@media (min-width: 57em) {
  .resume-wrapper__header:before,
  .resume-wrapper__header:after {
    grid-row: 1 / span 2;
  }
}

.resume-wrapper__header:before,
.wordmark:before {
  content: '';
  align-self: start;
  display: block;
  width: calc(100% + var(--page__padding-inline) * 7);
  height: calc(100% + 1px);
  background: var(--accent) 35%;
  box-shadow: 0.5em 0 0 var(--accent--light);
  transform: skewX(12deg) translate(calc(var(--page__padding-inline) * -7));
  transform-origin: left bottom;
}

.resume-wrapper__header.is-sticky:before,
.resume-wrapper__header.is-sticky:after {
  content: none;
}

@media (min-width: 80em) {
  .resume-wrapper__header.is-sticky:after {
    content: '';
    position: fixed;
    top: 0;
    right: calc(50vw + 40rem);
    left: auto;
    height: 80px;
    transform: none;
  }
}

.resume-wrapper__header.is-sticky .wordmark:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

@media (min-width: 57em) {
  .resume-wrapper__header:after {
    content: '';
    align-self: start;
    display: block;
    width: calc(var(--page__padding-inline) * 7);
    height: calc(100% + 1px);
    background-image: linear-gradient(to right, var(--font__color) 30%, transparent 100%);
    transform: translate(calc(var(--page__padding-inline) * -9));
  }
}

.wordmark {
  justify-self: start;
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding-top: 0.4em;
  padding-right: 3rem;
  padding-bottom: 0.5em;
  padding-left: 0;
  font-size: 2em;
  line-height: 1;
  color: #fff;
}
@media (min-width: 44em) {
  .wordmark {
    font-size: 3em;
  }
}
@media (min-width: 57em) {
  .wordmark {
    grid-row: 1 / span 2;
  }
}
.resume-wrapper__header.is-sticky .wordmark {
  align-self: stretch;
  padding-right: 1em;
  font-size: 1.5em;
}

.wordmark span {
  background: var(--accent);
}

.header__name {
  margin: 0 0 0.25em;
  padding: 1em 0 0;
  font-size: 1.5em;
  line-height: 1;
  color: var(--accent);
  font-weight: bold;
}
@media (min-width: 35em) {
  .header__name {
    grid-row: 2;
    grid-column: 1;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0.5em; /* Optically centered with ruby tag */
  }
}
@media (min-width: 44em) {
  .header__name {
    grid-row: 1 / span 1;
    grid-column: 2;
    padding-bottom: 0;
    padding-left: 2rem;
    font-size: 1.75em;
  }
}
.resume-wrapper__header.is-sticky .header__name {
  display: none;
}

.header__name ruby {
  margin: 0 -3px;
  border: 3px solid transparent;
}

.header__name rt {
  visibility: hidden;
  color: var(--font__color);
  font-weight: 400;
}

.header__name:hover ruby,
.header__name ruby:focus {
  border: 3px dotted var(--accent, #87d8f0);
  border-top: 0;
  outline: 0;
}

@media (min-width: 75em) {
  .header__name ruby,
  .header__name:hover ruby {
    border: 0;
  }

  .header__name ruby:focus {
    border: 0;
    outline: 3px dotted var(--accent, #87d8f0);
  }
}

.header__name:hover rt,
.header__name ruby:focus rt {
  visibility: visible;
}

@media (min-width: 75em) {
  .header__name rt {
    display: inline-block;
    visibility: visible;
    margin-left: 0.75em;
    color: inherit;
    font-weight: 400;
  }
}

.header__social {
  position: relative;
  left: -0.375em;
  display: flex;
  gap: 1em;
  margin: 0;
  padding: 0;
  padding-bottom: 0.5em;
  list-style: none;
}
@media (min-width: 35em) {
  .header__social {
    grid-row: 2;
    grid-column: 2;
  }
}
@media (min-width: 44em) {
  .header__social {
    grid-column: 2 / span 1;
    padding-left: 2rem;
  }
}
@media (min-width: 57em) {
  .header__social {
    align-self: center;
    justify-self: end;
    top: 0.25em;
    grid-row: 1;
    grid-column: 3 / span 1;
    padding-left: 0;
  }
}
.resume-wrapper__header.is-sticky .header__social {
  align-self: center;
  top: auto;
  left: auto;
  gap: 0.75em;
  margin-left: auto;
  padding: 0;
}

.contact-link--email {
  margin-right: auto;
}

.icon {
  position: relative;
  display: block;
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid transparent;
  border-radius: 50%;
  color: var(--accent);
  text-indent: -9999em;
}
.icon:hover,
.icon:focus {
  border-color: currentColor;
  outline: 0;
  color: var(--accent--light);
}

.icon:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2rem;
  height: 2rem;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 1.5rem 1.5rem;
  mask-size: 1.5rem 1.5rem;
  -webkit-mask-position: center center;
  mask-position: center center;
  background: currentColor;
  transform: translate(-50%, -50%);
}

.icon--email:before {
  /* Vertically center icon */
  -webkit-mask-image: url('../img/email-svgrepo-com.svg');
  mask-image: url('../img/email-svgrepo-com.svg');
}

.icon--github:before {
  /* Vertically center icon */
  transform: translate(-50%, -50%) translateY(-1px);
  -webkit-mask-image: url('../img/github.svg');
  mask-image: url('../img/github.svg');
}

.icon--codepen:before {
  /* Vertically center icon */
  transform: translate(-50%, -50%) translateY(-1px);
  -webkit-mask-image: url('../img/codepen.svg');
  mask-image: url('../img/codepen.svg');
}

.icon--linkedIn:before {
  -webkit-mask-image: url('../img/linkedin.svg');
  mask-image: url('../img/linkedin.svg');
}

/****************************
 * Resume Content
 */
.resume-wrapper__content {
  padding-top: var(--header__marginBottom, 2rem);
  padding-right: var(--page__padding-inline, 1.25rem);
  padding-left: var(--page__padding-inline, 1.25rem);
}
@media (min-width: 75em) {
  .resume-wrapper__content {
    grid-column: 1 / span 2;
    padding-right: 3em;
    border-right: 1px solid var(--border__color);
  }
}

/* Section headings */
.resume-wrapper__content h2,
.resume-wrapper__sidebar h3{
  margin: 0 0 1em;
  padding: 0;
  font-size: clamp(0.875rem, 0.875em, 0.875em);
  color: var(--accent, #1e7c99);
  font-weight: bold;
  letter-spacing: 0.0714em;
  text-transform: uppercase;
}

.experience-list__title {
  display: inline-block;
  margin-right: 0.25em;
}

.experience-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.experience-list h3 {
  margin: 0;
  padding: 0;
  font: inherit;
}

.experience-list__date {
  display: block;
  font-size: 1.25em;
  color: var(--accent);
}
@media (min-width: 44em) {
  .experience-list__date {
    display: inline-block;
    margin-left: 0.25em;
  }
}

.experience-list__employer {
  margin-bottom: 0.25em;
}

.experience-list__list {
  margin: 0 0 2em;
  padding-left: 1.5em;
  list-style: none;
}

.experience-list__list li {
  position: relative;
  margin: 0 0 0.25em;
  padding: 0;
  line-height: 1.5;
}

.experience-list__list li:before {
  content: '';
  position: absolute;
  top: 0.75em;
  left: -1em;
  display: block;
  box-sizing: content-box;
  width: 0.25em;
  height: 0.25em;
  background: var(--accent--light);
  transform: skew(12deg) translate(0, -3px);
}

.experience-list__list ul {
  margin: 0;
  padding: 0.25em 0 0 1.25em;
  list-style: none;
}

.experience-list__list ul li:before {
  border: 1px solid var(--accent--light);
  background: transparent;
}

.experience-list__title {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  line-height: 1.4;
}

/****************************
 * Resume sidebar
 */
.resume-wrapper__sidebar {
  padding-top: var(--header__marginBottom, 2rem);
  padding-right: var(--page__padding-inline, 1.25rem);
  padding-left: var(--page__padding-inline, 1.25rem);
}
@media (min-width: 57em) {
  .resume-wrapper__sidebar {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2em;
    padding-left: 2rem;
  }
}
@media (min-width: 75em) {
  .resume-wrapper__sidebar {
    display: block;
  }
}

.sidebar__heading {
  margin-inline: calc(
    (var(--page__padding-inline)) * -1
  );
  margin-block-end: 2em;
  padding-block-start: 1.5em;
  padding-block-end: 1em;
  padding-inline: calc(var(--page__padding-inline));
  border-top: 3px solid var(--accent);
  font-size: 1.25em;
  color: var(--accent);
}
@media (min-width: 75em) {
  .sidebar__heading {
    overflow: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    text-indent: -9999em;
  }
}

.resume-wrapper__sidebar h2,
.skills__heading,
.skills__list {
  grid-column: span 2;
}

.skills__heading {
  font-size: 1.125em;
}

.skills__list {
  margin: 0 0 1.5em;
  padding: 0;
  list-style: none;
}

.skills__list li {
  display: grid;
  grid-template-columns: 10em 1fr;
  padding: 0.4em 0.5em 0.4em 0;
}

.skill__level {
  align-self: center;
  display: flex;
  overflow: hidden;
  height: 1.5rem;
  border-radius: 0.75rem;
  background: #fff5;
  box-shadow: inset 0 0 0 2px var(--accent--lighter);
  transform: skewX(-12deg);
}

.skill__level:before {
  content: '';
  display: block;
  width: 25%;
  margin: 0.25rem;
  border-radius: 0.5rem 0.25rem 0.25rem 0.5rem;
  background: var(--accent--light);
}
.skill__level--expert:before {
  width: 100%;
  border-radius: 0.5rem;
}
.skill__level--advanced:before {
  width: 75%;
}
.skill__level--proficient:before {
  width: 50%;
}

/*******************************************************
 * Utility styles
 */

/**
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/**
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  /* 1 */
}

/**
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  white-space: inherit;
}

/*******************************************************
 * Print styles.
 * Inlined to avoid the additional HTTP request:
 * https://www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  :root {
    --font__color: #000;
    --accent: #333;
    --accent--light: #666;
    --accent--lighter: #aaa;
    --border__color: #aaa;
    --accent--light--text: #000;
    --page__padding-inline: 0rem;
    --header__marginBottom: 3rem;
    --resume-wrapper__padding-inline: 0;

    font-size: 7pt;
  }

  body {
    background: transparent;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: ' (' attr(href) ')';
  }

  abbr[title]::after {
    content: ' (' attr(title) ')';
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .skills,
  .experience-list > li {
    page-break-inside: avoid;
  }

  .resume-wrapper {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .resume-wrapper__header {
    display: grid;
    grid-template-rows: 1fr -webkit-min-content;
    grid-template-rows: 1fr min-content;
    grid-template-columns: -webkit-min-content 1fr 1fr;
    grid-template-columns: min-content 1fr 1fr;
    grid-column: 1 / -1;
    align-items: center;
  }

  .resume-wrapper__header:before,
  .resume-wrapper__header:after {
    content: none;
  }

  .wordmark,
  .header__name {
    align-self: baseline;
    padding-top: 3rem;
  }

  .wordmark {
    grid-row: 1 / span 2;
    height: 100%;
    color: var(--font__color);
  }
  .wordmark span {
    background: transparent;
  }

  .wordmark:before {
    content: '';
  }

  .header__name {
    grid-row: 1 / span 1;
    grid-column: 2;
    height: 100%;
    padding-left: 2rem;
    border: 0;
  }

  .header__name rt {
    display: inline-block;
    visibility: visible;
    margin-left: 0.75em;
    color: inherit;
    font-weight: 400;
  }

  .header__social {
    justify-self: end;
    flex-wrap: wrap;
    grid-row: 1 / span 2;
    gap: 0.75em;
    font-size: 0.8em;
  }

  .header__social .icon {
    display: flex;
    overflow: visibile;
    width: auto;
    height: auto;
    border-radius: 0;
    text-decoration: none;
  }

  .header__social .icon:before {
    position: static;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;
    transform: none;
  }
  .header__social .icon:after {
    content: attr(href);
    display: block;
    text-indent: 0;
  }

  .header__social .icon--email:after {
    content: 'wesruv@gmail.com';
  }

  .resume-wrapper__content {
    grid-column: 1 / span 2;
    padding-right: 3em;
    border-right: 1px solid var(--border__color);
  }

  .experience-list__date {
    display: inline;
  }

  .sidebar__heading {
    display: none;
  }

  .skills__list > li {
    margin-bottom: 1em;
  }

  .skill__level,
  .experience-list__list li:before,
  .icon:before {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .skill__level {
    position: relative;
    overflow: visible;
    box-shadow: inset 0 0 0 0.1em var(--accent--lighter);
  }

  .skill__level:before {
    margin: 0.25em;
  }

  .skill__level:after {
    content: attr(title);
    position: absolute;
    top: 100%;
    left: 0.5em;
    display: block;
    font-size: 0.75em;
  }

  .resume-wrapper__sidebar {
    padding-left: 2em;
  }
}

