/*******************************************************
 * Vars and Settings
 */
:root {
  /* Constants */
  --c-accent: #13678A;
  --c-accent--light: #45C4B0;
  --c-accent--lighter: #a6f0e5;
  --c-accent--secondary: #9AEBA3;
  --c-accent--light--text: #089580;

  --c-background__greenish: #D3FFCF;
  --c-background__blueish: #ebf9ff;

  --border__color: var(--c-accent--light);

  --page__padding-inline: 1rem;
  --header__marginBottom: 3rem;
  --content__padding-inline: 1rem;
  /* Must match media query for .is-sticky header */
  --content__max-width: 90rem;

  --active-element__background: rgb(from var(--c-accent--secondary) r g b / 0.25);
  --font__rgb-color--base: 1, 32, 48;
  --font__color--base: rgb(var(--font__rgb-color--base));

  /* Contextual */
  --surface__background: #fafafa;
  --font__color: var(--font__color--base);

  @media (min-width: 44em) {
    --page__padding-inline: 1.25rem;
    --header__marginBottom: 3rem;
    --content__padding-inline: 1.5rem;
  }
}

/*******************************************************
 * Base styles
 */
* {
  box-sizing: border-box;
}

html {
  /* Used to get scrollbar width */
  container-type: inline-size;

  font-family: Outfit, Roboto, Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background: var(--surface__background);
  color: var(--font__color);
}

body {
  --scrollBarWidth: calc(100vw - 100cqw);

  overflow-x: hidden;
  padding:0;
  font-size: 1em;

  @media (min-width: 48em) {
    font-size: 1.25em;
  }

  @media (min-width: 44em) {
    font-size: 1.25em;
  }
}

:focus {
  outline: 0;
  box-shadow:
    0 0 0 2px var(--surface__background),
    0 0 0 4px var(--c-accent--light),
    0 0 0 6px var(--surface__background);
}

::-moz-selection,
::selection {
  text-shadow: none;
  color: var(--font__color--base);
  background: var(--c-accent--secondary);
}

:where(p),
:where(ul) {
  margin: 0 0 1em;
}

a {
  color: var(--c-accent);
  text-decoration: none;
  border-radius: 0.25em;

  &:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: var(--c-accent--light);
    text-decoration-color: var(--c-accent--light);
  }

  &:hover,
  &:focus {
    box-shadow:
      0 0 0 2px var(--surface__background),
      0 0 0 4px var(--c-accent--light),
      0 0 0 6px var(--surface__background);
  }
}

button {
  cursor: pointer;
}

abbr[title] {
  border-bottom: 1px dotted var(--c-accent);
  text-decoration: none;
}

/****************************
 * Layout
 */
.page {
  --font__color: var(--font__color--base);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100dvh;
  margin: 0 auto;
  color: var(--font__color);
  background: var(--surface__background);
}

/****************************
 * Header
 */
.page__header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 0 var(--page__padding-inline);
  border-bottom: 1px solid var(--border__color);

  @media (min-width: 35em) {
    grid-template-columns: minmax(0, 1fr);
    row-gap: 1em;
  }

  @media (min-width: 44em) {
    display: grid;
    grid-template-rows: 1fr -webkit-min-content -webkit-min-content;
    grid-template-rows: 1fr min-content min-content;
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
    row-gap: 0;
  }

  @media (min-width: 57em) {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-column: 1 / -1;
    align-items: baseline;
    width: 100%;
    padding: 0 var(--page__padding-inline);
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.page__header.is-sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  padding: 0 var(--content__padding-inline);
  animation: slideInDown 0.25s ease forwards;
  box-shadow: 0 6px 0 0 rgba(var(--font__rgb-color--base), 0.2);
  /* Must match content-max-width */
  @media (min-width: 90rem) {
    left: calc(
      (100vw - var(--scrollBarWidth) - var(--content__max-width)) / 2
    );
  }
  @media (prefers-reduced-motion: reduce) {
    animation: none;
  }
}

.wordmark,
.page__header::before {
  /* grid-row: 1 / span 1;
  grid-column: 1 / span 1; */

  /* @media (min-width: 44em) {
    grid-row: 1 / span 3;
  } */
}

.page__header::before {
  /* grid-column: 1;

  @media (min-width: 35em) {
    grid-row: 1 / span 1;
    grid-column: 1 / span 2;
  }

  @media (min-width: 44em) {
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
  }

  @media (min-width: 57em) {
    grid-row: 1 / span 2;
  } */
}

:where(.page--home) .page__header-wrapper, /* Prevent qualifying class from bumping up specificty */
.wordmark {
  --parallelogram__width: calc(var(--page__padding-inline) * 7);

  &::before {
    content: '';
    align-self: start;
    display: block;
    width: calc(100% + var(--parallelogram__width));
    height: calc(100% + 1px);
    background: var(--c-accent) 35%;
    border-right: 0.5em solid var(--c-accent--light);
    transform: skewX(12deg) translate(calc(var(--parallelogram__width) * -1.15));
    transform-origin: center top;
  }
}

.page__header-wrapper {
  display: flex;
  background: var(--c-background__greenish);
}

.page__header {
  &.is-sticky {
    &::before {
      content: none;
    }
  }
}

.wordmark,
.header__name {
  align-self: baseline;
}

.wordmark {
  justify-self: start;
  position: relative;
  display: flex;
  align-items: baseline;
  margin: 0;
  padding-top: 0.4em;
  padding-right: 3rem;
  padding-bottom: 0.5em;
  padding-left: 0;
  font-size: 2em;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  @media (min-width: 44em) {
    font-size: 2.5em;
  }
  @media (min-width: 57em) {
    grid-row: 1 / span 2;
  }

  span {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
  }

  .page__header.is-sticky & {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    align-self: stretch;
    padding-right: 1em;
    font-size: 1.5em;
  }
}

.header__name {
  display: flex;
  gap: 0.35em;
  align-items: end;
  margin: 0 0 0.25em;
  padding: 0.5em 0 0;
  font-size: 1.5em;
  line-height: 1;
  color: var(--c-accent);
  font-weight: bold;
  @media (min-width: 35em) {
    grid-row: 2;
    grid-column: 1;
    align-items: center;
    margin: 0;
  }
  @media (min-width: 44em) {
    grid-row: 1 / span 1;
    grid-column: 2;
    align-items: baseline;
    padding-bottom: 0;
    padding-left: 2rem;
    font-size: 1.75em;
  }

  .page__header.is-sticky & {
    display: none;
  }
}


.header__name,
.home__name {
  ruby {
    @media (min-width: 57em) {
      display: flex;
      align-items: baseline;
      gap: 0.4em;
      margin: 0 -3px;
      border-radius: 0.25em;
    }

    &:focus {
      border: 0;
      outline: 0;
    }

    &:focus rt {
      visibility: visible;
    }

    rt {
      visibility: hidden;
      white-space: nowrap;
      color: var(--font__color);
      font-weight: 400;

      @media (min-width: 75em) {
        display: inline-block;
        visibility: visible;
        color: inherit;
        font-weight: 200;
      }

      @media (min-width: 57em) {
        &::before {
          content: '(';
        }
        &::after {
          content: ')';
        }
      }
    }
  }
}

.pdf-version {
  position: absolute;
  top: 0;
  right: var(--page__padding-inline);
  display: flex;
  align-items: center;
  gap: 0.25em;
  padding: 0.25em 0.75em;
  font-size: 0.75rem;
  background-color: var(--c-accent--lighter);
  color: var(--font__color--base);
  border-radius: 0 0 0.25em 0.25em;

  .is-sticky & {
    display: none;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
    border: 0;
    &::before {
      width: 1.5em;
      width: 1.5em;
      -webkit-mask-size: contain;
      mask-size: contain;
    }
  }
}

.header__social {
  --display: flex;

  position: relative;
  left: -0.375em;
  display: var(--display);
  font-size: 0.75rem;
  gap: 1em;
  margin: 0 auto;
  padding: 1.5em 0 1.5em;
  list-style: none;

  @media (min-width: 35em) {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 44em) {
    font-size: 0.875rem;
    grid-column: 2 / span 1;
    padding-left: 2rem;
  }
  @media (min-width: 57em) {
    align-self: center;
    justify-self: end;
    grid-row: 1;
    grid-column: 3 / span 1;
    padding-top: 1em;
    padding-left: 0;
  }

  .page__header.is-sticky & {
    align-self: center;
    top: auto;
    left: auto;
    gap: 0.75em;
    margin-left: auto;
    padding: 0;
  }
}

.contact-link--email {
  margin-right: auto;
}

.icon {
  position: relative;
  display: block;
  overflow: hidden;
  width: 2.5em;
  height: 2.5em;
  border: 2px solid transparent;
  border-radius: 50%;
  color: var(--c-accent);
  text-indent: -9999em;

  &:hover,
  &:focus {
    outline: 0;
    background: var(--active-element__background);
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    aspect-ratio: 1 / 1;
    width: 2em;
    height: auto;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 1.5rem 1.5rem;
    mask-size: 1.5em 1.5em;
    -webkit-mask-position: center center;
    mask-position: center center;
    background: currentColor;
    transform: translate(-50%, -50%);
  }
}


.icon--email::before {
  /* Vertically center icon */
  -webkit-mask-image: url('../img/email-svgrepo-com.svg');
  mask-image: url('../img/email-svgrepo-com.svg');
}

.icon--github::before {
  /* Vertically center icon */
  transform: translate(-50%, -50%) translateY(-1px);
  -webkit-mask-image: url('../img/github.svg');
  mask-image: url('../img/github.svg');
}

.icon--codepen::before {
  /* Vertically center icon */
  transform: translate(-50%, -50%) translateY(-1px);
  -webkit-mask-image: url('../img/codepen.svg');
  mask-image: url('../img/codepen.svg');
}

.icon--linkedIn::before {
  -webkit-mask-image: url('../img/linkedin.svg');
  mask-image: url('../img/linkedin.svg');
}

.icon--download::before {
  -webkit-mask-image: url('../img/download.svg');
  mask-image: url('../img/download.svg');
}

.page__content-wrapper {
  padding-inline: var(--content__padding-inline);
  flex-grow: 1;
  @media (min-width: 75em) {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.header__nav {
  font-size: 1rem;
  @media (min-width: 57em) {
    font-size: 1.25rem;
    font-weight: 400;
  }

  ul {
    --gap: 0.25em;
    --link__padding-inline: 1em;

    margin: 0;
    padding-block: 0;
    /* Subtracting padding from links for optical alignment of text */
    padding-inline: var(--content__padding-inline);
    list-style: none;
    @media (min-width: 57em) {
      display: flex;
      gap: var(--gap);
    }

    .page--home & {
      padding-inline: 0;
      /* Optically align first link with text */
      margin-inline: calc(var(--link__padding-inline) * -1) 0;
    }
  }

  li {
    display: block;
    white-space: nowrap;
  }

  a {
    display: inline-block;
    padding: 0.25em var(--link__padding-inline);
    border-radius: 0;
    @media (min-width: 57em) {
      display: block;
    }

    &.active {
      box-shadow: inset 0 -3px 0 var(--c-accent--light--text);
    }
  }
}

.page__footer {
  padding: 0.75em calc(var(--page__padding-inline) * 3);
  border-top: 4px solid var(--c-accent--light);
  font-size: 0.75em;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background: var(--c-accent);
}


/*******************************************************
 * Utility styles
 */

/**
 * Hide visually and from screen readers
 */
.hidden,
[hidden] {
  display: none !important;
}

/**
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  /* 1 */
}

/**
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  position: static;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
  white-space: inherit;
}

.mobile-only[class][class] {
  display: var(--display, block);
  @media (min-width: 35em) {
    display: none;
  }
}

.mobile-tablet-only[class][class] {
  display: var(--display, block);
  @media (min-width: 57em) {
    display: none;
  }
}

.tablet-desktop-only[class][class] {
  display: none;
  @media (min-width: 35em) {
    display: var(--display, block);
  }
}

.desktop-only[class][class] {
  display: none;
  @media (min-width: 57em) {
    display: var(--display, block);
  }
}

