.page__content-wrapper {
  display: block;
  width: 100%;
  max-width: 40em;
  margin-inline: auto;
  padding-inline: calc(var(--page__padding-inline) * 2);
  @media (min-width: 35em) {
    padding-inline: calc(var(--page__padding-inline) * 3);
  }
}

.content-header__wrapper,
.previous-talks__wrapper {
  grid-column: 2;
}

.content-header__img-wrapper {
  --img__aspect-ratio: 253 / 278;

  max-width: 15rem;
}

.content-header__headline,
.content-header__content {
  grid-column: 1;
  margin: 0;
}

.previous-talk__title {
  font-size: 1.5em;
  font-weight: 400;
}

.previous-talk__info-wrapper {
  margin: 0 0 3em;
}

.previous-talk__time {
  display: inline-block;
  font-weight: bold;
}

.previous-talk__location {
  margin-bottom: 1em;
}

.previous-talk__slides {
  display: inline-block;
  padding: 0.25em 0.75em;
  font-weight: bold;
  transform: translateX(-0.75em);
}

.previous-talk__dates {
  margin: 0 0 1em;
  padding: 0 0 0 1.5em;
}

.doc-flow__wrapper {
  display: block;
  margin-inline: auto;
  max-width: 12em;
  border: 3px solid #dcdcdc;
  border-radius: 0.75em;
  @media (min-width: 44em) {
    float: right;
    max-width: 8em;
    margin: 0 0 2em 2em;
  }

  figcaption {
    position: relative;
    z-index: 0;
    display: block;
    text-align: center;
    padding: 0.25em 0.75em;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: #dcdcdc;
    }
  }
}

.doc-flow {
  max-width: 100%;
  height: auto;
}
